/* CSS especial para los views del frontend */

$frontend-azul: #125A8F;

.fondo-azul {
    background: $frontend-azul;
}

#inicio-slider {
    background-image: url('/img/inicio/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.texto-sombra {
    text-shadow: 2px 2px black;
}

.texto-azul {
    color: $frontend-azul;
}

.centrar {
    position: absolute;
    top: 50%;
    left: 50%;
    /*El translate hace que el punto de anclaje esté en el centro.*/
    transform: translate(-50%, -50%);
}

footer{
    a{
        :link{
            color: white;
        }
    }
}
